---


const {title, description, image,icon} = Astro.props
---

<div class="flex lg:max-w-auto max-w-[400px] relative flex-col">
  <img src={image} class="lg:h-[300px] h-[200px]" alt={title} >
  <div class=" relative p-4 items-center  bg-white drop-shadow-md w-[80%] self-center -top-20  flex flex-col gap-5">
    <p class="lg:text-2xl text-lg font-poppins font-bold">
      {title}
    </p>
    <p class="lg:text-lg text-sm text-justify">
      {description}
    </p>
    <div class="absolute -top-5 right-5 w-[50px] flex items-center justify-center h-[50px] bg-white" >
      <img src={icon} alt={title} class="lg:w-[30px] lg:h-[30px] w-[20px] h-[20px]">
    </div>
  </div>
</div>